<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../static/img/logo1.jpg" alt="" class="img-fluid w-100">
                <p>
                    <h3 style="color:red">Dirección:</h3> Rancherito Las Palmas, Calle 18, Av. Las Palmas #N 35 – 50, Medellín, Antioquia
                </p>
                <p>
                    <h3 style="color:red">Horarios:</h3>Lunes a sábado de 12:00pm a 3:00pm y de 6:00pm a 11:00pm
                </p>
                <p>
                    <h3 style="color:red">Telefono:</h3> (604) 6021393
                </p>
                <p>
                    <h3 style="color:red">Whatsapp:</h3>(301)5206557
                </p>               
            </div>
            <div class="col-12 col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126922.96901181761!2d-75.70479768359375!3d6.218448300000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428303a076f53%3A0x454f65c21c03f39b!2sRancherito%20Las%20Palmas!5e0!3m2!1ses!2sco!4v1669156366354!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
            <div class="col-md-12 copy">
                <p>&copy; Copyright 2018 - Official Rancherito.</p>
            </div>
            <div class="social col-md-12 copy">
                <a href="#"><img src="../static/img/facebook.jpg" alt="facebook" id="fotoprueba"></a>
                <a href="#"><img src="../static/img/youtube.png" alt="youtube" id="fotoprueba"></a>
                <a href="#"><img src="../static/img/twiter.png" alt="linkedin" id="fotoprueba"></a>               
            </div>
        </div>
    </div>
</footer>